Django==5.2.5
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
channels==4.3.1
stripe==12.5.1
python-dotenv==1.0.1
Pillow==11.1.0
psycopg2-binary==2.9.10
whitenoise==6.9.0
gunicorn==23.0.0
dj-database-url==2.3.0
